.main-canvas {
  border: 2px solid #000000;
  position: absolute;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 1rem;
  margin: 1rem;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 1rem;
  border: solid 2px #000000;
  border-radius: 1rem;
  min-width: 20rem;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
}

select {
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: inherit;
  width: 6rem;
  outline: none;
}

.notification {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}



.notification-area {
  position: absolute;
  z-index: 100;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  right: 0;
  top: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid #ffffff;
  background-color: #760000;
  color: #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.browser-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 1rem;
  margin-top: 1rem;
}

.tab-bar {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: left;
  background-color: #000000;
  color: #ffffff;
  height: 3rem;
  width: 100%;
}

.tab {
  display: flex;
  justify-content: left;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  cursor: pointer;

  width: fit-content;
  max-width: fit-content;
}

.tab-input {
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  margin: 0.2rem;
  max-width: fit-content;
  width: fit-content;
}

.tab-text {
  margin: 0.2rem;
  padding: 0.2rem;
}
